.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #1b1e20);   
}

.stopwatch {
    height: 650px;
    width: 380px;
    background: rgba(225,225,225,0.05);
    border-radius: 32px;
    background: rgba(225,225,225,0.05);
    box-shadow: 21px 21px 39px #65686c, -1px -1px 1px rgba(225,225,225,0.05);
    padding: 46px;
}

.stopwatch .heading-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.heading-bar .settings-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230, 236, 245);
    box-shadow: 6px 6px 11px rgb(55, 56, 56), -6px -6px 11px #454549;
}

.timer-container{
    height: 50vh;
    background: red;
    width: 50vh;
    margin-left: -42px;
    border-radius: 50%;
    background-color: #1b1e20;
    box-shadow: 5px 5px 31px #414345,
    -5px -5px 31px rgb(248, 255, 255, 0.2);
    padding: 10px;
}

    /* }

.timer-container {
    height: 400px;
    width: auto;
    border-radius: 50%;
    /* background: #e6ecfc;
    box-shadow: 18px 18px 31px rgb(212, 217, 225, 0.5),
    -18px -18px 31px rgb(248, 255, 255, 0.5);
    padding: 10px; */
}
 */
