.container{
    color: white;
    width: 100vh;
    height: 100vh;
    display: flex;
    margin-left: -30px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #1b1e20);   
}

.stopwatch {
    height: 680px;
    width: 53%;
    margin-left: -95px;
    margin-bottom: 10px;    
    background: rgba(225,225,225,0.05);
    border-radius: 32px;
    background: rgba(225,225,225,0.05);
    box-shadow: 21px 21px 39px #65686c, -1px -1px 1px rgba(225,225,225,0.05);
    display: flex;
    flex-direction: column;
    padding: 46px;
}

.stopwatch .heading-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.heading-bar .settings-icon {
    color: rgb(59, 68, 95);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230, 236, 245);
    box-shadow: 6px 6px 11px rgb(55, 56, 56), -6px -6px 11px #454549;
}

.timer-container{
    height: 50vh;
    background: red;
    width: 50vh;
    margin-left: -34px;
    border-radius: 50%;
    background-color: #1b1e20;
    box-shadow: 5px 5px 31px #414345,
    -5px -5px 31px rgb(248, 255, 255, 0.2);
    padding: 10px;
}

.timer-container {
    border-radius: 50%;
    background: #242425;
    padding: 10px;
}

.timer-container .stripes {
    border: 3px dashed white;
    width: auto;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container .timer{
    font-size: 32px;
    font-weight: bold;
}

.spacer{
    flex: 1;
}

.button-container{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.button-container .button {
    height: 40px;
    width: 100%;
    color: rgb(200, 132, 132);
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 5px 5px 31px #414345,
    -5px -5px 31px rgb(248, 255, 255, 0.2); 
    font-size: 20px;
    color: white;
}

.button-container .button:nth-child(1){
    margin-bottom: 12px;
    color: green;
}

.button-container .button:nth-child(1):hover{
    background: linear-gradient(145deg, #38c470, #787b80);
    box-shadow: 5px 5px 31px #212223,
    -5px -5px 31px rgb(248, 255, 255, 0.2);
    color: white;
}

.button-container .button:nth-child(2){
    margin-top: 18px;
    color: red;
}

.button-container .button:nth-child(2):hover{
    background: linear-gradient(145deg, #c4bb38, #787b80);
    box-shadow: 5px 5px 31px #212223,
    -5px -5px 31px rgb(248, 255, 255, 0.2);
    color: white;
}

.button-container .active{
    background: #e6ecf5;
    box-shadow: inset 5px 5px 31px #212223,
    -5px -5px 31px rgb(248, 255, 255, 0.2);
}



.botao2{
    width: 110%;
    height: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -300%;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    background: linear-gradient(90deg,
    rgb(103, 102, 102) 0%,
    rgb(239, 21, 14) 100%);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.botao2:hover{
    background: linear-gradient(90deg,
    rgb(103, 102, 102) 50%,
    rgb(239, 21, 14) 100%);
}